#{extends 'main.html' /} #{set title:'Cadastrar sua corrida' /}


<form action="@{Corridas.salvar}">
	<div class="form-group">
		<label for="formGroupExampleInput">Quilômetors percorridos</label> <input
			type="text" class="form-control" id="formGroupExampleInput"
			placeholder="Informe a distância" name="c.kmpercorridos">
	</div>
	<div class="form-group">
		<label for="formGroupExampleInput2">Local</label> <input type="text"
			class="form-control" id="formGroupExampleInput2"
			placeholder="Informe o local da corrida" name="c.local">
	</div>
	<label for="selectperiodo">Período</label> <select
		class="form-control" id="selectperiodo" name="c.periodo">
		<option value="Manhã">Manhã</option>
		<option value="Tarde">Tarde</option>
		<option value="Noite">Noite</option>
	</select>
	<button type="submit" class="btn btn-primary" id="botao">Enviar</button>
</form>

