#{extends 'main.html' /} #{set title:'Corridas' /}

<div class="kms">
	<h1 class="display-3">Meus Kms Percorridos</h1>
	<h1 class="display-4">${meutotal} KMs</h1>
</div>


<table class="table table-striped table-dark">
#{list items:corridas, as:'c'}
    
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Kms</th>
      <th scope="col">Local</th>
      <th scope="col">Período</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">${c?.id}</th>
      <td>${c?.kmpercorridos}</td>
      <td>${c?.local}</td>
      <td>${c?.periodo}</td>
       <td><a class="btn btn-primary" href="@{Corridas.editar(c.id)}">Editar</a> - <a class="btn btn-danger" href="@{Corridas.excluir(c.id)}">Excluir </a></td>
    </tr>
    
  </tbody>
  #{/list}
</table>
#{else}
	<p>Não há corridas cadastras ainda.</p>
	<a class="btn btn-primary" href="@{Corridas.form}" >Cadastre agora</a>
#{/else}

